<div class="bshare-custom">
	<a title="Share on Wechat" class="bshare-weixin"></a>
	<a title="Share on Sina Blog" class="bshare-sinaminiblog"></a>
	<a title="More" class="bshare-more bshare-more-icon more-style-addthis"></a>
</div>
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid={{ site.bshare.uuid }}&amp;pophcol=1&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>